.container {
  border: none ;
  background-color: rgba(127, 255, 212, 0.626);
  border-radius: 15px;
  box-shadow: 15px 15px 35px 10px;
}

.content h1{
  border: none;
  text-decoration: underline;
  font-style: italic;
  padding: 10px;
}